<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Customer management</title>
    <th:block th:replace="/layout/head :: head" />
</head>
<body>
<div class="container">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-7">
                <h1>Danh sách thành phố</h1>
            </div>
            <div class="col-sm-5">
                <a href="/provinces/create" class="btn btn-outline-light"><i class="fa fa-plus-square-o" aria-hidden="true"></i> <span>Thêm thành phố</span></a>
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Thành phố</th>
            <th>Quốc gia</th>
            <th colspan="5">Action</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="province : ${provinces}">
            <tr>
                <td th:text="${province.id}" class="text-center"></td>
                <td th:text="${province.provinceName}"></td>
                <td th:text="${province.country.name}"></td>
                <td class="text-center">
                    <a class="btn btn-outline-secondary" title="Edit" data-toggle="tooltip" th:href="@{/provinces/edit/__${province.id}__ }">
                        sửa
                    </a>
                </td>
                <td class="text-center">
                    <a class="btn btn-outline-secondary" title="Edit" data-toggle="tooltip" th:href="@{/provinces/delete/__${province.id}__ }">
                        xóa
                    </a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

<th:block th:replace="/layout/script :: script" />

</body>
</html>